<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Node.js + TypeScript Template</title>
</head>

<body>
  <header>
    <h1>Node.js + TypeScript Template</h1>
  </header>

  <main>
    <img alt="Node.js logo" width="300" height="300"
      src="https://raw.githubusercontent.com/gist/sitek94/a9f2139170ff48b5241671eec00a2bea/raw/nodejs.svg" />
    <img alt="TypeScript logo" width="300" height="300"
      src="https://gist.githubusercontent.com/sitek94/a9f2139170ff48b5241671eec00a2bea/raw/typescript.svg" />
  </main>

  <footer>
    <p><a href="https://github.com/sitek94">Maciek Sitkowski</a> 2021</p>
  </footer>
</body>

</html>